body {
    text-align: center;
}

/* New modal */

.modal-bg {
    background: rgba(0, 0, 0, 0.438);
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hide {
    display: none;
}

.modal-body {
    position: relative;
    border-radius: 15px;
    width: 450px;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%, -70%);
}

.modal-heading {
    display: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 1.5rem;
    border-bottom: 1px solid black;
}

.modal-button {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    font-size: 1rem;
    color: grey;
    background: white;
}

/* Responsive Optimization */
/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
	
	canvas{
		max-width: 360px;
		min-height: 450px;

	}

}