body {
    text-align: center;
}

.modal-bg {
    background: rgba(0, 0, 0, 0.438);
    position: absolute;
    z-index: 80;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hide {
    display: none;
}

.modal-body {
    position: relative;
    z-index: 99;
    width: 400px;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%, -50%);
}

.modal-heading {
    display: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 1.5rem;
    border-bottom: 1px solid black;
}

.modal-button {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    font-size: 1rem;
    color: grey;
    background: white;
}